.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 20px;
}

.topside {
    display: grid;
    grid-template-areas: 
        "sidebar body body body body right right"
    ;
}

.sidebar{
    grid-area: "sidebar";
}

.body{
    grid-area: "body";
}

.right{
    grid-area: "right";
}

.botside {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}