.song {
    display: flex; 
    margin-top: 5px;
    align-items: center;
    background-color: #000000;
    border-radius: 15px;
}

.song:hover {
    background-color: #686868;
}

.albumImage{
    border-radius: 9999px; 
    width: 62px;
    height: 62px;
    margin-left: 1rem;
}

.title {
    margin-bottom: 0.125rem; 
    color: #ffffff; 
    font-weight: 600; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    cursor: pointer; 
    color: 13px;
    margin-left: 0.5rem;
}

.title:hover {
    text-decoration: underline;
}

.artist {
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 600; 
    cursor: pointer; 
    color: #686868;
    margin-left: 0.5rem;
}

.artist:hover {
    text-decoration: underline;
}