.searchBar {
    display: flex; 
    overflow: hidden; 
    padding: 0.375rem; 
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    padding-right: 2rem; 
    align-items: center; 
    border-radius: 9999px; 
    border-width: 2px; 
    background: #1A1A1A;
    border-color: gray;
    border-style: solid;
    width: 40%;
    margin-bottom: 20px;
}

.searchBar:hover {
    border-color: #ffffff;
    border-style: solid;
}

.searchBarInput {
    color: #ffffff; 
    font-size: 0.75rem;
    line-height: 1rem; 
    border-style: none; 
    outline: 0; 
    background: #1A1A1A;
}